input,textarea {
    font-size: .875rem;

    &.form-control {
        border-color:$primary-color;
        display: block;
        width: 100%;
        min-height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: $white-color;
        background-clip: padding-box;
        border: 1px solid $border-light;
        border-radius: .25rem;
        @include input-placeholder {
            color: $primary-light;
            font-size: .875rem;
            text-transform: capitalize;
        }

        &:focus {
            box-shadow: none;
            outline: none;
            -webkit-outline: none;
            border-color:$primary-color;
        }
    }

}
.form-group{
    margin-bottom: 1rem;
    label{
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: .6125rem;
    }
    .custom-checkbox{
        label{
            font-weight: 400;
        }
    }
}