.tabs{
    .custom-tab{
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;
        li{
            @include flex(0 0 50%);
            @include flex-wrap(nowrap);
            text-align: center;
            
            a{
                display: block;
                text-transform: uppercase;
                padding:10px;
                color:$primary-light;
                font-weight: 600;
                position: relative;
                @include transition(all .5s linear);
                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    left: 0;
                    bottom: 0;
                    height: 1.5px;
                    background-color: $red-color;
                    @include transition(width .3s linear);
                    opacity: 0;
                    visibility: hidden;
                }
    
                &.current,
                &:hover {
                        color: $red-color;
                    &::after {
                        width: 100%;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            
        }
    }
    .custom-tab-content{
        .content-item{
            display: none;
            &.current{
                display: block;
            }
        }
    }
}