$bg-color:#F7F7F7;
$bg-dark:#E5E5E5;
$primary-color:#14191C;
$primary-light:#7C7C7C;
$primary-light-1:#C9C9C9;
$secondary-color:#F57F17;
$secondary-light:#E1884D;
$secondary-dark:#F47841;
$yellow-color:#efc20d;
$heading-color:#3f4047;
$text-color:#000;
$text-light:#646464;
$border-color:#363636;
$border-light:#ced4da;
$white-color:#ffffff;
$red-color:#EF1919;
$red-dark:#B00020;
$green-color:#1B5E20;
$orange-color:#F57F17;
$red-light:#FFEAEE;